<form (ngSubmit)="submit(form)" #form="ngForm">
    <h2>Resposta do Grupo</h2>
    <input type="hidden" name="group_answer_id" [(ngModel)]="registro.group_answer_id">
    <div class="form-group">
      <label for=group_answer_content>Conteudo da resposta</label>
      <input type="text" placeholder="Coloque aqui a resposta da atividade do grupo" name="group_answer_content" [(ngModel)]="registro.group_answer_content" required />
    </div>
    <!-- para os alunos deve não aparecer ou ficar desabilitado ver como permitir null -->
    <div class="form-group">
      <label for="group_answer_feedback">Feedback da atividade</label>
      <input type="text" placeholder="Descrição da atividade" name="group_answer_feedback"  [(ngModel)]="registro.group_answer_feedback" required />
    </div>
    <div class="form-group">
      <label for="groupTask">Grupo</label>
      <select [(ngModel)]="registro.group"
      [compareWith]="compareById"
      name="groupTask" required>
        <option *ngFor="let item of groupTask"
        [ngValue]="item"> {{item.group_name}} </option>
      </select>
    </div>
    <div class="form-group">
      <label for="task">Capacitação </label>
      <select [(ngModel)]="registro.task"
      [compareWith]="compareById"
      name="task" required>
        <option *ngFor="let item of task"
        [ngValue]="item"> {{item.task_name}} </option>
      </select>
    </div>
    <input type="submit" value="Cancel" routerLink="../">
    <input type="submit" value="Save" [disabled]="form.invalid">

  </form>
