<table class="table table" id="tableEquipment">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>File</th>
        <th>Data de inicio</th>
        <th>Data de termino</th>
        <th>Disciplina</th>
        <th>Tipo de atividade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of registros">
        <td> {{ item.task_name}} </td>
        <td> {{ item.task_description }} </td>
        <td> {{ item.task_file}} </td>
        <td> {{ item.task_start }} </td>
        <td> {{ item.task_end }} </td>
        <td> {{ item.subject.subject_name}} </td>
        <td> {{ item.typeTask.type_task_name}} </td>
        <td class="fit">
          <button routerLink="/report/form" type="button" [queryParams]="{ id: item.task_id }"  class="btn btn-secondary">Editar</button>
          <button type="button"(click)="delete(item.task_id)" class="btn btn-danger">Deletar</button>

        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">Total de registros: {{ registros.length }} </td>
      </tr>
    </tfoot>
  </table>
