 <!-- <table class="table table" id="tableEquipment">
    <thead>
      <tr>
        <th>Código</th>
        <th>Front-End</th>
        <th>Back-End</th>
        <th>Git</th>
        <th>Database</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of registros">
        <td> {{ item.technical_knowledge_frontend }} </td>
        <td> {{ item.technical_knowledge_backend }} </td>
        <td> {{ item.technical_knowledge_git }} </td>
        <td> {{ item.technical_knowledge_database }} </td>
        <td class="fit">
          <button routerLink="/report/form" type="button" [queryParams]="{ id: item. technical_knowledge_id }"  class="btn btn-secondary">Editar</button>
          <button type="button"(click)="delete(item. technical_knowledge_id)" class="btn btn-danger">Deletar</button>

        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">Total de registros: {{ registros.length }} </td>
      </tr> -->
    <!-- </tfoot>
</table>
 -->
