<form (ngSubmit)="submit(form)" #form="ngForm">
    <h2>Cadastro de Faltas</h2>
    <input type="hidden" name="absence_id" [(ngModel)]="registro.absence_id">
    <div class="form-group">
      <label for=absence_if_justified>A falta foi justificada?</label>
        <input type="radio" name="absence_if_justified" value="true" [(ngModel)]="registro.absence_if_justified" required> Sim
        <input type="radio" name="absence_if_justified" value="false" [(ngModel)]="registro.absence_if_justified" required> Não
    </div>
    <div class="form-group">
      <label for="absence_date">Data da falta</label>
      <input type="date" placeholder="Código identificador do equipamento"  name="absence_date" [(ngModel)]="registro.absence_date" required />
    </div>
    <div class="form-group">
      <label for="student">Studante</label>
      <select [(ngModel)]="registro.student"
      [compareWith]="compareById"
      name="student" required>
        <option *ngFor="let item of student"
        [ngValue]="item"> {{item.user.user_name}} </option>
      </select>
    </div>
    <div class="form-group">
      <label for="subject">Disciplina</label>
      <select [(ngModel)]="registro.subject"
      [compareWith]="compareById"
      name="subject" required>
        <option *ngFor="let item of subject"
        [ngValue]="item"> {{item.subject_name}} </option>
      </select>
    </div>
    <input type="submit" value="Cancel" routerLink="../">
    <input type="submit" value="Save" [disabled]="form.invalid">

  </form>
