<!-- export interface Admin {
admin_id: number;
Possue duas chaves estrangeiras:
training: Training; //fk
user: User; //fk -->

<form (ngSubmit)="submit(form)" #form="ngForm">
    <h2>Cadastro de Administradores</h2>
    <input type="hidden" name="admin_id" [(ngModel)]="registro.admin_id">

    <!-- <div class="form-group">
        <label for=name>Nome do equipamento </label>
        <input type="text" placeholder="Coloque o nome do equipamento" name="admin_name"
            [(ngModel)]="registro.admin_name" required />
    </div> -->

    <!-- <div class="form-group">
        <label>Codigo do equipamento</label>
        <input type="text" placeholder="Código identificador do equipamento" name="admin_identifier"
            [(ngModel)]="registro.admin_identifier" required />
    </div> -->

    <!-- <div class="form-group">
        <label>Descrição</label>
        <input type="text" placeholder="Descrição do equipamento" name="admin_description"
            [(ngModel)]="registro.admin_description" required />
    </div> -->

    <div class="form-group">
        <label for="training">Capacitação</label>
        <select [(ngModel)]="registro.training" [compareWith]="compareById" name="training" required>
            <option *ngFor="let item of training" [ngValue]="item"> {{item.training_name}} </option>
        </select>
    </div>

    <div class="form-group">
        <label for="user">Usuário</label>
        <select [(ngModel)]="registro.user" [compareWith]=" compareById" name="user" required>
            <option *ngFor="let item of user" [ngValue]="item"> {{item.user_name}} </option>
        </select>
    </div>

    <input type="submit" value="Cancel" routerLink="../">
    <input type="submit" value="Save" [disabled]="form.invalid">

</form>