
<table class="table table" id="tableTeacher">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Capacitação</th>
        <th> <button class="btn btn-outline-dark" id="open-modal">Adicionar Professor</button>

        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of registros">
        <td> {{ item.user.user_name}} </td>
        <td> {{ item.training.training_name}} </td>
        <td class="fit">
          <button type="button" (click)="delete(item.teacher_id)"><i class="del fas fa-trash-alt"></i></button>
          <button><i type="button" routerLink="/new" class="print fas fa-edit"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">Total de registros: {{ registros.length }} </td>
      </tr>
    </tfoot>
  </table>
