/********** Template CSS **********/
:root {
  --primary: #83a8fd;
  --secondary: #000C20;
  --light: #6C7293;
  --dark: #ffffff;
}
.off {
  display: none !important;
}

.icon img{
  width: 80px;

}.iconCard img{
  width: 200px;
}
/* BOTAO SUMINDO COM O STATUS */
.inativo {
  display: none !important;
}
/* TABELA DE LISTAGEM  */
.close-modal
th{
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
td{
  font-size: 12px;
  font-weight: lighter;
  color: #000;

}
.tabela{
  margin-top: 40px;
  background-color: #f1f1f1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow-x: auto;
  width: 100%;
}
/* icones */

i{
  font-size: 15px;
  margin: 0 5px;
}
i.del{
  color: red
}
i.confirm{
  color: #0a791b
}
i.print{
  color: #18053b;
}
i:hover{
color:#989f64}

button{
  border: none;
}

/* FIM TABLA DE LISTAGEM */
/* Alerta */

div.alert {
  border: 1px solid;
  padding: 1em;
  max-width: 400px;
  margin: 1em auto;
  word-wrap: break-word;
}

div.alert span#fechar {
  float: right;
  font-size: 1.5em;
  cursor: pointer;
}

div.alert.erro {
  background-color: #ff9f9f;
  color: #660101;
  border-color: #660101;
}

div.alert.sucesso {
  background-color: #52a45d;
  color: #393939;
  border-color: #4c864f;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* app-root {
  display: flex;
  flex-direction: column;
} */

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Button ***/
.btn {
  transition: .5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}


/*** Layout ***/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background: var(--secondary);
  transition: 0.5s;
  z-index: 999;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


.content {
  margin-left: 250px;
  min-height: 100vh;
  background-image: linear-gradient(to right, #1b397d , #576a95);
  transition: 0.5s;
}

@media (min-width: 992px) {
  .sidebar {
      margin-left: 0;
  }

  .sidebar.open {
      margin-left: -250px;
  }

  .content {
      width: calc(100% - 250px);
  }

  .content.open {
      width: 100%;
      margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
      margin-left: -250px;
  }

  .sidebar.open {
      margin-left: 0;
  }

  .content {
      width: 100%;
      margin-left: 0;
  }
}

.navbar .bg-secondary .navbar {
  background-color: #6C7293;
}
/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
  padding: 7px 20px;
  color: var(--light);
  font-weight: 500;
  border-left: 3px solid var(--secondary);
  border-radius: 0 30px 30px 0;
  outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
  border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
  background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
  padding-left: 25px;
  border-radius: 0 30px 30px 0;
  color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
  background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
  margin-left: 25px;
  padding: 12px;
  color: var(--light);
  outline: none;
}
.navTop{
  background-color: #f1f1f1;
}
.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  border-radius: 40px;
}

.content .navbar .dropdown-item {
  color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
  background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
  margin-left: 6px;
  vertical-align: middle;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(-180deg);
}

.main{ /* ESSE height é o tamanho da parte de baixo do card branco */
  height: 500vh; /* Tamanho de baixo do card branco */
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: none;

}
.titleCard{
  background-color: #000C20;
}

.header{
  background-color: #0E1D40;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.header i{
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  font-size: 35px;
  margin-top: 5px;
  margin-right: 20px;
}
.header h3 {
  font-size: 20px;
  color:#DFDEDE;
  font-weight: lighter;
  margin-left: 10px;
  display: block;
}
.header p {
  color: #6271c5;
  font-weight: lighter;
  font-size: 10px;
  margin-left: 10px;
}
.menu-bars i {
  color: #000C20;
}
.logo{
padding-left: 70px;

}
.logo img{
margin: 25px 0;
width: 90px;
}
input.search{
  background-color:#f1f1f1;;
}
input.search:hover{
  background-color: #767676;
}


.footer{
  background-color: #f1f1f1;
}

.quadro {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}
/* LOGIN STYLE  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

body * {
  box-sizing: border-box;
}

.main-login{
  width: 100vw;
  height: 100vh;
  background: #001428;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  /* color: #ff554d; */
  color: aliceblue;
}

.left-login-image{
  font-size: 3vw;
  width: 25vw;
}

.left2-login-image{
  width: 45vw;
}

.right-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-login{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #001428;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;

}

.card-login > h1 {
  /* color: #ff554d; */
  font-size: 3vw;
  color: aliceblue;
  font-weight: 800;
  margin: 0;
}

.textfield{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
}

.textfield > input{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #01264b;
  color: white;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield > label{
  color: white;
  margin-bottom: 10px;
}

.textfield > input:hover{
  background: #023568;
}

.textfield > input::placeholder{
  color: #f0ffff94;
}

.btn-login{
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: aliceblue;
  /* background: #ff554d; */
  background: #01264b;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #012446;
}

.btn-login:hover{
  background: #023568;
  /* color: aliceblue; */ /* cor do botão quando passa o Mouse */
}

.text-muted:link:hover {
  text-decoration: underline;
}

@media only screen and (max-width:950px){
    .card-login{
      width: 85%;
    }
}


@media only screen and (max-width:600px){
    .main-login{
      flex-direction: column;
    }
    .left-login > h1{
      display: none;
    }

    .left-login-image{
      display: none;
    }

    .left2-login-image{
      width: 50vw;
    }

    .left-login{
      width: 100%;
      height: auto;
    }

    .right-login{
      width: 100%;
      height: auto;
    }

}

/* FIM LOGIN STYLE  */


@media (max-width: 575.98px) {
  .content .navbar .navbar-nav .nav-link {
      margin-left: 15px;
  }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
  top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
  border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
  font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 10px;
  border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: var(--primary);
}

/* FORMULARIOS EM GERAL: */
form {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}
.formLogin{
  width: 100%;
  padding: 0;
}
form h2{
  color: black;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-group label {
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 0.4em;
}
.form-group select{
  border-radius: 10px;
  padding: 0.6em;
  font-size: 0.8em;
  border: none;
  border-bottom: 1px solid grey;

}
.form-group input {
  padding: 0.6em;
  color: #777;
  font-size: 0.8em;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid grey;
}

input[type="submit"] {
  background-color: #efefef;
  border: none;
  padding: 0.6em 1em;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1em;
  border: 2px solid transparent;
  transition: 0.4s;
}
input{
  color: black;
}
input[type="submit"]:hover {
  color: #42CDB0;
  border-color: #42CDB0;
  background-color: transparent;
}

.validation-error p {
  color: #dc3545;
  margin-top: 0.4em;
  border-left: 3px solid #dc3545;
  padding-left: 0.2em;
}
