<form (ngSubmit)="submit(form)" #form="ngForm">
    <h2>Cadastro de equipamentos</h2>
    <input type="hidden" name="record_class_id" [(ngModel)]="registro.record_class_id">
    <div class="form-group">
      <label for="record_class_date_entry">Data de Entrada</label>
      <input type="datetime-local" placeholder="Coloque o nome do equipamento" name="record_class_date_entry" [(ngModel)]="registro.record_class_date_entry" required />
    </div>
    <div class="form-group">
      <label for="record_class_date_exit">Data de Saida</label>
      <input type="datetime-local" placeholder="Código identificador do equipamento"  name="record_class_date_exit" [(ngModel)]="registro.record_class_date_exit" required />
    </div>
    <div class="form-group">
      <label for="subject">Disciplina</label>
      <select [(ngModel)]="registro.subject"
      [compareWith]="compareById"
      name="subject" required>
        <option *ngFor="let item of subject"
        [ngValue]="item"> {{item.subject_name}} </option>
      </select>
    </div>
    <div class="form-group">
      <label for="classroom">Turma</label>
      <select [(ngModel)]="registro.classroom"
      [compareWith]="compareById"
      name="classroom" required>
        <option *ngFor="let item of classroom"
        [ngValue]="item"> {{item.classroom_name}} </option>
      </select>
    </div>
    <input type="submit" value="Cancel" routerLink="../">
    <input type="submit" value="Save" [disabled]="form.invalid">

  </form>
