<!-- teacher_id: number;
training: Training; //fk
user: User; //fk -->
<form (ngSubmit)="submit(form)" #form="ngForm">
  <h2>Cadastro de Professores</h2>
  <input type="hidden" name="teacher_id" [(ngModel)]="registro.teacher_id">

  <!-- AQUI INICIA A CODIFICAÇÃO DOS COMPONENTS FORMS COM CHAVE ESTRANGEIRA -->
  <!-- CHAVE ESTRANGEIRA Training -->
  <div class="form-group">
    <label for="training">Capacitação </label>
    <select [(ngModel)]="registro.training" 
    [compareWith]="compareById" 
    name="training" required>
      <option *ngFor="let item of training" 
      [ngValue]="item"> {{item.training_name}} </option>
    </select>
   </div>
<!-- CHAVE ESTRANGEIRA User -->
  <div class="form-group">
    <label for="user">Usuário </label>
    <select [(ngModel)]="registro.user" 
    [compareWith]="compareById" 
    name="user" required>
      <option *ngFor="let item of user" 
      [ngValue]="item"> {{item.user_name}} </option>
    </select>
  </div>

<!-- AQUI FINALIZA A CODIFICAÇÃO DOS COMPONENTS FORMS COM CHAVE ESTRANGEIRA -->
  <input type="submit" value="Cancel" routerLink="../">
  <input type="submit" value="Save" [disabled]="form.invalid">

</form>