<table class="table table" id="tableEquipment">
    <thead>
      <tr>
        <th>Código</th>
        <th>Período</th>
        <th>Estudante</th>
        <th>Equipamento</th>
        <th>Laboratório</th>
        <th>Capacitação</th>
        <th>Sala de Aula</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of registros">
        <td> {{ item.equipment_location_period }} </td>
        <td> {{ item.student.user.user_name }} </td>
        <td> {{ item.equipment.equipment_name }} </td>
        <td> {{ item.laboratory.laboratory_name }} </td>
        <td> {{ item.classroom.classroom_name }} </td>
        <td class="fit">
            <button routerLink="/report/form" type="button" [queryParams]="{ id: item.equipment_location_id }" class="btn btn-secondary">Editar</button>
            <button type="button" (click)="delete(item.equipment_location_id)" class="btn btn-danger">Deletar</button>

        </td>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">Total de registros: {{ registros.length }} </td>
      </tr>
    </tfoot>
</table>
