<table class="table table" id="">
  <thead>
    <tr>
      <th>ID</th>
      <th>Aluno</th>
      <th>Check-in</th>
      <th>Check-out</th>
      <th>Turma</th>
      <th>Disciplina</th>
      <th>Total de Horas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of registros" >
      <td> {{item.student_id}} </td>
      <td> {{item.student_name}} </td>
      <td> {{item.checkin_entry}} </td>
      <td> {{item.checkin_exit}} </td>
      <td> {{item.student_classroom_fk}} </td>
      <td> {{item.subject_name}} </td>
      <td> {{item.amount_hours }} </td>

      <td class="fit">
        <button><i type="button" routerLink="/new" class="print fas fa-check-circle"></i></button>
        <button type="button" (click)="delete(item.student_id)"><i class="del fas fa-times"></i></button>

        <!-- <button type="button"(click)="delete(item.checkin_id)" class="btn btn-danger">Deletar</button> -->

      </td>
    </tr>
  </tbody>
</table>
