

<div  class="container-fluid position-relative d-flex p-0" >
  <app-sidebar></app-sidebar>

  <!-- Content Start -->
  <div class="content">
      <!-- Navbar Start -->
      <app-header></app-header>
      <!-- Navbar End -->
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="main">
                    <div class="header col-12">
                        <div class="ms-3">
                            <h3>Capacitação Full-Stack</h3>
                            <p>UFAC - 2023</p>
                        </div>

                        <i class="fas fa-desktop ms-auto"></i>

                    </div>
                    <div class="container">

                      <br>
                      <!-- <app-form-report></app-form-report> -->
                      <!-- <app-form-laboratory></app-form-laboratory> -->
                      <app-form-group></app-form-group>


                    </div>

                </div>
            </div>


        </div>
      </div>

      <!-- Footer Start -->
      <app-footer></app-footer>
      <!-- Footer End -->
  </div>
  <!-- Content End -->
</div>
  <!-- Back to Top -->
  <a href="#" class="btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


