<form (ngSubmit)="submit(form)" #form="ngForm">
  <div class="form-group">
    <label for=checkin_id>Seu Id</label>
    <input  type="text" value={{getUser().user_id}} name="student" readonly="true">
  </div>

  <label>Horario atual <span><label> {{this.dateTime}}</label></span></label><br>
  <div class="form-group">
    <label for="checkin_entry">HORARIO DE SAIDA</label>
    <input type="text" name="checkin_entry" value={{this.dateTime}} readonly="true">
  </div>
  <div class="form-group">
    <label for=student>Nome Completo </label>
    <input type="text" value={{getUser().user_name}} name="student" readonly="true">
  </div>
  <div class="form-group">
    <label for=subject>Disciplina</label>
    <input  type="text" value={{this.check.subject.subject_name}} name="subject">
  </div>

  <input type="submit" value="Check-out" [disabled]="form.invalid">
</form>

































<!--
<form [formGroup]="form">


  <div class="form-group">
    <label for=checkin_id>Seu Id</label>
    <input type="text" name="checkin_id" formControlName="checkin_id">
  </div>
  <div class="form-group">
    <label for=checkin_valid>SUA VALIDADE</label>
    <input type="text" name="checkin_valid" formControlName="checkin_valid" #checkin_valid>
  </div>
  <div class="form-group">
    <label for="checkin_entry">HORARIO DE ENTRADA</label>
    <input type="text" name="checkin_entry" formControlName="checkin_entry" #checkin_entry>
  </div>
  <div class="form-group">
    <label for="checkin_exit">HORARIO DE SAIDA</label>
    <input type="text" name="checkin_exit" formControlName="checkin_exit" #checkin_exit>
  </div>

  <div class="form-group">
    <label for="checkin_status">Status</label>
    <select formControlName="checkin_status">
      <option value="null">Selecione</option>
      <option value="on">On</option>
      <option value="off">Off</option>
    </select>
  </div>

  <div class="form-group">
    <label for=name>Nome Completo </label>
    <input type="text" value="  name="student" formControlName="student" >
  </div>


  <div class="form-group">
    <label>Turma</label>
    <input type="text" name="classroom" formControlName="classroom" #classroom>

  </div>


  <div class="form-group">
    <label>Disciplina</label>
    <input type="text" name="subject" formControlName="subject" #subject >
  </div>

  <button class="btn-secondary" (click)="submit()" >Check-in </button>
</form> -->

