
  <nav class="navbar navTop navbar-expand  px-4 py-0" ><!--  removido para tirar o fixo do heeader sticky-top -->

    <a class="menu-bars sidebar-toggler">
        <i class="fa fa-bars"></i>
    </a>

    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-bell me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Notificações</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item">
                    <h6 class="fw-normal mb-0">Perfil Atualizado</h6>
                    <small>15 minutes ago</small>
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                    <h6 class="fw-normal mb-0">Novo usuário adicionado</h6>
                    <small>15 minutes ago</small>
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                    <h6 class="fw-normal mb-0">Senha alterada</h6>
                    <small>15 minutes ago</small>
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item text-center">Ver todas as notificações</a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="../assets/img/paulo.jpg" alt="PhotoUser" style="width: 40px; height: 40px;">
                <!-- <div id="usuarioInfo" [hidden]="!isAutenticado()"></div> // informações do usuario pos logado-->

                <span class="nameUser d-none d-lg-inline-flex">
                      {{ getUser().user_name}} ({{ getUser().typeUser.type_user_name}})
                </span>
                <!-- <span>typeUser: {{ getUser().typeUser.type_user_name  }}</span> -->
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border- rounded-0 rounded-bottom m-0">
                <a routerLink="/myprofile" class="dropdown-item">Meu Perfil</a>
                <a href="#" class="dropdown-item">Configurações</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
                <!-- [routerLink]="['/login']" routerLinkActive="router-link-active"  ariaCurrentWhenActive="page" -->
            </div>
        </div>
    </div>
  </nav>

