

<div  class="container-fluid position-relative d-flex p-0" >
  <app-sidebar></app-sidebar>

  <!-- Content Start -->
  <div class="content">
      <!-- Navbar Start -->
      <app-header></app-header>
      <!-- Navbar End -->
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="main">
                    <div class="header col-12">
                        <div class="ms-3">
                            <h3>Professores</h3>
                            <p>UFAC - 2023</p>
                        </div>

                        <i class="icon"><img src="../../../../assets/img/teacherIcon.png"></i>

                    </div>
                    <div class="container">
                     <h2>Professores Do Web Academy</h2>
                     <div class="row">
                      <div class="col-3">
                        <div class="card">
                          <img src="../../../../assets/img/daniel.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Daniel Augusto</h5>
                            <p class="card-text">Mestrado em Ciência da Computação</p>
                            <p>Capacitação: <span>Full-Stack</span></p>
                            <button type="button" class="btn btn-outline-dark">Lattes</button>

                            <button type="button" class="btn btn-outline-dark">Github</button>


                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="card">
                          <img src="../../../../assets/img/victor.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Victor Antunes</h5>
                            <p class="card-text">Mestrado em Ciência da Computação</p>
                            <p>Capacitação: <span>Full-Stack</span></p>

                            <button type="button" class="btn btn-outline-dark">Lattes</button>

                            <button type="button" class="btn btn-outline-dark">Github</button>


                          </div>
                        </div>

                      </div>
                      <div class="col-3">
                        <div class="card">
                          <img src="../../../../assets/img/fred.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Fred Tavares</h5>
                            <p class="card-text">Mestrado em Aplicativos Educacionais</p>
                            <p>Capacitação: <span>Full-Stack</span></p>

                            <button type="button" class="btn btn-outline-dark">Lattes</button>

                            <button type="button" class="btn btn-outline-dark">Github</button>


                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="card">
                          <img src="../../../../assets/img/fred.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Fred Tavares</h5>
                            <p class="card-text">Mestrado em Aplicativos Educacionais</p>
                            <p>Capacitação: <span>Full-Stack</span></p>

                            <button type="button" class="btn btn-outline-dark">Lattes</button>

                            <button type="button" class="btn btn-outline-dark">Github</button>


                          </div>
                        </div>
                      </div>
                     </div>

                     <div id="fade" class="hide"></div>
                     <div id="modal" class="hide">
                       <div class="modal-header">
                         <button id="close-modal">Fechar</button>
                       </div>
                       <div class="modal-body">
                         <app-alert></app-alert>

                        <app-form-teacher></app-form-teacher>
                        </div>
                     </div>
                     <div class="row">
                       <app-list-teacher></app-list-teacher>

                     </div>
                    </div>

                </div>
            </div>


        </div>
      </div>

      <!-- Footer Start -->
      <app-footer></app-footer>
      <!-- Footer End -->
  </div>
  <!-- Content End -->
</div>
  <!-- Back to Top -->
  <a href="#" class="btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


